SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_USERS_TABLE=app_users
SUPABASE_ACCOUNTS_TABLE=accounts

BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=PEV Banking
SMTP_SERVER=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_LOGIN=
SMTP_KEY=

ADMIN_USERNAME=admin
ADMIN_PASSWORD=
ADMIN_EMAIL=
ADMIN_PHONE=
